#links:has(#navlink:hover) #navlink {
  opacity: 0.05;
}

#navlink {
  transition: all 0.3s;
}

#ghost_navlink {
  background: #ff0000;
  position: absolute;
  /* z-index: 2; */
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
#ghost_navlink:hover {
  -webkit-text-stroke: 1px black;
}

#ghost_navlink::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  transform: translateY(0) skew(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

