@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: rgb(219, 219, 219);
  color: black;
}

html {
  /* scroll-behavior: smooth !important; */
}

.center_absolute {
  @apply top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
}

body::-webkit-scrollbar {
  display: none;
}

.nunito-font {
  font-family: Nunito;
}

#mask {
  mask-image: url("../../public/mask.svg");
  background-color: red;
  mask-repeat: no-repeat;
  mask-size: 50px;
  mask-position: 0;
}

.reply_box::-webkit-scrollbar {
  background-color: transparent !important;
  width: 5px;
}

.reply_box::-webkit-scrollbar-thumb {
  background-color: rgb(109, 108, 108) !important;
  border-radius: 5px;
}

.no_scrollbar::-webkit-scrollbar {
  display: none !important;
}

.custom_shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.block_card {
  @apply flex flex-col gap-1 w-full;
}

.block_label {
  @apply text-xs group-hover/card:text-neutral-700 text-white  blur group-hover/card:opacity-100 group-hover/card:blur-none transition-all duration-700 select-none;
}

