@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: rgb(219, 219, 219);
  color: black;
}

html {
  /* scroll-behavior: smooth !important; */
}

.center_absolute {
  @apply top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
}

body::-webkit-scrollbar {
  display: none;
}

#mask {
  mask-image: url("../../public/mask.svg");
  background-color: red;
  mask-repeat: no-repeat;
  mask-size: 50px;
  mask-position: 0;
}

.reply_box::-webkit-scrollbar {
  background-color: transparent !important;
  width: 5px;
}

.reply_box::-webkit-scrollbar-thumb {
  background-color: rgb(109, 108, 108) !important;
  border-radius: 5px;
}

.no_scrollbar::-webkit-scrollbar {
  display: none !important;
}

.custom_shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
